<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title>Edit Planet</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form class="example-form">
      <table class="example-full-width" cellspacing="0">
        <tr>
          <td>
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Planet Node" [(ngModel)]="planetnode" name="planetnode" required>
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td>
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Planet Name" [(ngModel)]="planetname" name="planetname" required>
            </mat-form-field>
          </td>
        </tr>
      </table>
    </form>
    <mat-spinner [style.display]="showSpinner ? 'block' : 'none'"></mat-spinner>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button (click)="planetUpdate()" color="primary">Update</button>
    <button mat-raised-button (click)="closeDialog()" color="primary">Cancel</button>
  </mat-card-actions>
</mat-card>
